*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY */
:root{
    --bg-button: #0061ff;
    --bg-hero: #b4d0e7;
    --bordergrey: #d0d0d3;
    --bg-footer: #000000;
    --lightgreen: #a2d39b;
    --oceanblue: #0092ce;
    --purple: #61082b;
    --lightred: #ff1c1c;
    --darkred: #d5001f;
    --darkblue: #0d2481;
    --bananayellow: #ffd830;
    --pannawhite: #f5f5f5;
}
.debug{
    border: 2px solid red;
}

.p-20left{
    padding: 0 20px;
}
/* RULES */
.container{
    max-width: 1200px;
}
.small-container{
    max-width: 1000px;
}
.d-flex{
    display: flex;
}
.fixed{
    display: fixed;
}
.space-b{
    justify-content: space-between;
}
.center{
    margin: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    background-color: var(--bg-button);
    padding: 5px 15px;
    color: white;
}

/* HEADER */
header{
    height: 80px;
    border-bottom: 2px solid lightgrey;
}
nav{
    height: 100%;
    align-items: center;
}
.userlog > a{
    margin-left: 10px;
}
/* MAIN */
.hero-section{
    background-color: var(--bg-hero);
}
h1{
    font-size: 4.5rem;
}

/* FOOTER */
footer{
    background-color: var(--bg-footer);
    color: white;
}

