*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* UTILITY */
:root{
    --bg-button: #0061ff;
    --bg-hero: #b4d0e7;
    --bordergrey: #d0d0d3;
    --bg-footer: #000000;
    --lightgreen: #a2d39b;
    --oceanblue: #0092ce;
    --purple: #61082b;
    --lightred: #ff1c1c;
    --darkred: #d5001f;
    --darkblue: #0d2481;
    --bananayellow: #ffd830;
    --pannawhite: #f5f5f5;
}
/* .debug{
    border: 2px solid red;
} */

.p-20left{
    padding: 0 20px;
}

.p-20top{
    padding: 20px 0 0 0;
}

.p-100top{
    padding-top: 100px;
}

.m-50top{
    margin-top: 50px;
}
.m-50bottom{
    margin-bottom: 50px;
}

/* RULES */
.container{
    max-width: 1200px;
}
.small-container{
    max-width: 1100px;
}
.d-flex{
    display: flex;
}
.space-b{
    justify-content: space-between;
}
.center{
    margin: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    position: relative;
}
.button{
    background-color: var(--bg-button);
    padding: 8px 15px;
    color: white;
}

/* HEADER */
header{
    height: 80px;
    border-bottom: 2px solid lightgrey;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index:999;
}
.logo{
    display: inline-block;
}
.logo > img{
    margin-top: 25px;
}
nav{
    height: 100%;
    align-items: center;
    width: 100%
}
/* DROPDOWN MENU update-v1.2 */
ul.dropdown{
    width: 100%;
    background-color: var(--pannawhite);
    position:absolute;
    z-index: 999;
    display: none;
    top:100%;
    left:0;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 25px 20px -20px;
}
ul li:hover ul.dropdown{
    display:block;
}
.li-drop:hover .a-custom{
    font-weight: bold;
}
.li-drop:hover{
    background-color: var(--pannawhite);
}
.li-drop{
    padding:30px;
    position: relative;
}
.li-drop-content{
    padding: 10px 10px;
    font-size: 14px;
}
.li-drop-content:hover{
    font-weight: bold;
    background-color: #d4d3d3;
}
.userlog{
    padding:30px;
    position: relative;
}
.userlog > a{
    margin-left: 10px;
}
/* MAIN */

/* HERO */
.hero-section{
    background-color: var(--bg-hero);
}
h1{
    font-size: 4.5rem;
    margin: auto;
}
.p-hero{
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.img-hero{
    width: 65%;
    height: 360px;
}
.img-hero > img{
    width: 100%;
    overflow: visible;
}
.scroll-to{
    font-size: 2.5em;
}

/* SECTION PLANS */
.title-section{
    font-size: 2rem;
}
.billing-year{
    margin-left: 40px;
}
.plans{
    margin-top:80px;
}
.the-card{
    width: calc(100% / 3);
}
.card-head{
    padding:10px;
    border: 2px solid var(--bordergrey);
}
.card-content{
    border: 2px solid var(--bordergrey);
}
.card-head{
    text-align: center;
}
.card-content{
    flex-direction: column;
    align-items: flex-start;
    gap:50px;
    padding: 30px;
}
h3{
    font-size: 1.5rem;
    padding-bottom: 15px;
    z-index: 1;
}
.functionality{
    flex-direction: column;
    height: 200px;
}
.trial{
    margin: auto;
}
.more{
    display: inline-block;
    color: grey;
    margin-top: 10px;
}
.buynow{
    text-decoration: underline;
}
hr{
    width: 15%;
    background-color: lightgrey;
}
.highlights-list{
    height: 300px;
}
.fa-check{
    color: var(--bg-button);
}
.enterprise-info{
    position:relative;
    padding:30px;
    border: 2px solid var(--bordergrey);
    z-index: -1;
}
.bttn-contact{
    position: absolute;
    top: 30px;
    right: 30px;
}

/* SECTION PARTNER */
.photo-box{
    max-width: 55%;
}
.photo-box > img{
    width: 100%;
}
.article{
    max-width: 45%;
    padding: 60px;
}
.article-text{
    padding-bottom: 40px;
}
.bttn-partner{
    color: black;
    background-color: white;
    border: 1px solid black;
}

/* SECTION FEATURES */
.features-container{
    flex-flow: row wrap;
}
.f-article{
    flex-direction: column;
    width: calc(100% / 3);
    padding: 30px;
}
.f-article > img{
    width: 100%;
    margin-bottom: 10px;
}
.more-info{
    text-decoration: underline;
}

/* SECTION CUSTOMERS */
.boxlogo{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-flow: row wrap;
}
.square{
    width:50%;
    height: 50%;
    position: relative;
    z-index: 1;
   
}
.square > img{
    width: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.svg-edit{
    color: #ffff;
}
.brand1{
    background-color: var(--lightgreen);
    

}
.brand2{
    background-color: var(--purple);
}
.brand3{
    background-color: var(--oceanblue);
}
.brand4{
    background-color: var(--lightred);
}
.brand5{
    background-color: var(--darkred);
}
.brand6{
    background-color: var(--bg-hero);
}
.brand7{
    background-color: var(--darkblue);
}
.brand8{
    background-color: var(--bananayellow);
}
.middlebrand{
    background-color: var(--pannawhite);
    padding:40px;
    overflow-y:auto;
}
.middlebrand > img{
    width: 50%;
}
.credits{
    display: block;
}
.banner{
    background-color: var(--bg-hero);
}
.box-trial{
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.box-trial > h2{
    color: var(--purple);
}
.bttn-trial{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 8px 30px;
}

/* SECTION FAQ */
.faq{
    padding: 100px 0;
}
.boxfaq{
    padding: 30px 0;
}
.boxfaq > span{
    padding-right: 50px;
}
details > summary{
    list-style: none;
}
#arrowf1{
    padding-left: 700px;
}
#arrowf2{
    padding-left: 155px;
}
#arrowf3{
    padding-left: 330px;
}
.hr-faq{
    width: 100%;
}

/* FOOTER */
footer{
    background-color: var(--bg-footer);
    color: white;
}
.list-footer > li{
    padding: 5px 0;
}
.link{
    color: white;
}
.language{
    padding: 50px 0;
    color: grey;
}
#choose-l{
    background-color: black;
    border: none;
    color: grey;
    padding-left: 10px;;
}

/* EFFECT */
.button:hover{
    background-color: #4e8ef3;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.bttn-partner:hover, .bttn-trial:hover{
    background-color: black;
    color: white;
    box-shadow: rgba(194, 206, 216, 0.3) 0px 1px 2px 0px, rgba(189, 201, 211, 0.15) 0px 2px 6px 2px;
}
summary:hover{
    cursor:pointer;
}
.square:hover{
    box-shadow: inset 25px 25px 0 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 25px 25px rgba(255, 255, 255, 0.3);
}
.link:hover{
    text-decoration: underline;
}
#choose-l:hover{
    cursor:pointer;
}


